<%- include('../navbar.ejs') %>
    <div class="container text-center pt-3">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <button onclick="location.href='/admin/crea_cds'" type="button" class="list-group-item list-group-item-action">Crea CDS</button>
                <button onclick="location.href='/admin/modifica_cds'" type="button" class="list-group-item list-group-item-action">Modifica CDS</button>
                <button onclick="location.href='/admin/elimina_cds'" type="button" class="list-group-item list-group-item-action">Elimina CDS</button>
                <button onclick="location.href='/admin/crea_docente'" type="button" class="list-group-item list-group-item-action">Crea docente</button>
                <button onclick="location.href='/admin/elimina_docente'" type="button" class="list-group-item list-group-item-action">Elimina docente</button>
                <button onclick="location.href='/admin/associa_insegnamento'" type="button" class="list-group-item list-group-item-action">Associa insegnamento</button>
                <button onclick="location.href='/admin/orari_ricevimenti'" type="button" class="list-group-item list-group-item-action">Inserisci orari ricevimenti dei docenti</button>
                <button onclick="location.href='/admin/crea_studente'" type="button" class="list-group-item list-group-item-action">Crea Studenti</button>
                <button onclick="" type="button" class="list-group-item list-group-item-action">Convalida tirocinio</button>
                <button onclick="" type="button" class="list-group-item list-group-item-action">Convalida prova finale</button>
            </div>
        </div>
    </div>
<%- include('../footer.ejs') %>