<%- include('../navbar.ejs') %>
    <div class="container text-center pt-3">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <button onclick="location.href='/admin/crea_modifica_cds'" type="button" class="list-group-item list-group-item-action">Crea, modifica CDS</button>
                <button onclick="location.href='/admin/elimina_cds'" type="button" class="list-group-item list-group-item-action">Elimina CDS</button>
                <button onclick="" type="button" class="list-group-item list-group-item-action">Modifica docenti</button>
                <button onclick="" type="button" class="list-group-item list-group-item-action">Convalida tirocinio</button>
                <button onclick="" type="button" class="list-group-item list-group-item-action">Convalida prova finale</button>
            </div>
        </div>
    </div>
<%- include('../footer.ejs') %>