<%- include('../navbar.ejs') %>

<div class="container text-center g-5">
    <h2 class="mt-2">Inserisci il codice del CDS da eliminare</h2>
    <form action="<%= path %>" method="POST">
        <div class="row justify-content-between">
            <div class="col">
                <label class="col-form-label">Codice</label>
            </div>
            <div class="col">
                <input id="cds" type="text" class="form-control" name="id_cds">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Elimina</button>
            </div>
        </div>
    </form>
</div>
<%- include('../footer.ejs') %>