/*
  Proprietà griglia fluida
  ----------------------------------
  dw-num-cols-mobile:    3;
  dw-num-cols-tablet:    8;
  dw-num-cols-desktop:  12;
  dw-gutter-percentage:  25;
*/

/* Layout mobile: 480 px e inferiori. */

.gridContainer
{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 980px; 
  padding-left: 3.0333%;
  padding-right: 3.0333%;
}

.c_menuButton_rectangle
{
  clear: both;
  float: left;
  margin-top: 8px;
  width: 12px;
  height: 12px;
}

.c_menuButton_link
{
  clear: none;
  float: left;
  margin-top: 8px;
  margin-left: 4px;
  line-height: 14px;
}

.c_searchButton
{
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #003576;
}

.c_searchButtonImage
{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: url(https://didattica.polito.it/didattica/assets/png/poli_icon_search_white.png);
}

.c_addressBookButtonImage
{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: url(https://didattica.polito.it/didattica/assets/png/poli_icon_people_white.png);
}

.c_pPanelImage
{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: url(https://didattica.polito.it/didattica/assets/png/logo_trasparente.png) no-repeat;
}

.c_pTitlePanelImage
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: url(https://didattica.polito.it/didattica/assets/png/logo_trasparente.png) right no-repeat;
  background-size: cover;
}

.c_pLoginButtonImage
{
  position: absolute;
  top: 5px;
  left: 0px;  
  height: 20px;
  width: 20px;
  background: url(https://didattica.polito.it/didattica/assets/png/poli_lock.png) no-repeat;
}

.c_footer_line
{
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #003576;
}
.c_rightFooter
{
  position: relative;
  height: 40px;
  text-align: right;
  font-size: 11px;
  color: #003576;
  line-height: 16px;  
}
.c_leftFooter { position: absolute; top: 0px; left: 0px; height: 20px; }

#mb_menu
{ 
  float: left;
  clear: both; 
  width: 30px;
  height: 22px;
  background-color: #AAA;
  margin-top: 4px;
  display: block;
  border-radius: 4px;
}

#mb_cerca
{ 
  float: right;
  clear: none; 
  width: 22px;
  height: 22px;
  background-color: #AAA;
  margin-top: 4px;
  display: block;
  border-radius: 4px;
}

#p_menu
{
  float: left;
  clear: both;
  margin-bottom: 10px;
  width: 100%;
  height: 110px;
  background-color: #EEE; 
  display: none;
}

#p_cerca
{
  float: right;
  clear: right;
  margin-bottom: 12px;
  width: 100%;
  height: 20px;
  background-color: #EEE; 
  display: none;
}

#b_ateneo { display: none; }
#b_didattica { display: none; }
#b_ricerca { display: none; }
#b_imprese { display: none; }
#b_amministrazione { display: none; }
#d_cerca { clear: none; float: right; display: none; }
#b_login
{
  clear: none;
  float: right;
  margin-right: 10px;
  width: 68px;
  height: 28px; 
  display: block;
}

#d_lingue
{
  clear: none;
  float: right;
  margin-right: 20px; 
}

@media only screen and (min-width: 480px) 
{
  .gridContainer { width: 90%; padding-left: 1.0333%; padding-right: 1.0333%; }
  .c_titoloPagina { font-size: 4vw; } /*era 26px, ma con questo scala...*/
  .c_sottotitoloPagina { font-size: 12px; }
  
  #d_cerca { display: block; }
  #b_login { display: block; }
  #d_cerca { display: block; }
  #mb_cerca { display: none; }
  #p_cerca { height: 0px; margin-bottom: 0; }
}

@media only screen and (min-width: 769px)
{
  .gridContainer { width: 88.5%; margin: auto; }  
  .c_titoloPagina { font-size: 37px; }
  .c_sottotitoloPagina { font-size: 16px; }
  .c_navigationBar-extended { display: block; }
}

@media only screen and (min-width: 1000px)
{
  #mb_menu { display: none; }
  #p_menu { height: 0px; margin-bottom: 0; }
  #b_ateneo { clear: both; float: left; display: block; }
  #b_didattica { clear: none; float: left; margin-left: 15px; display: block; }
  #b_ricerca { clear: none; float: left; margin-left: 15px; display: block; }
  #b_imprese { clear: none; float: left; margin-left: 15px; display: block; }
  #b_amministrazione { clear: none; float: left; margin-left: 15px; display: block; }
}