<%- include('navbar.ejs') %>
<form>
    <div class="container text-center mt-3">
        <div class="row g-3 align-items-center">
          <div class="col-1">
            <label class="col-form-label">Codice</label>
          </div>
          <div class="col-1">
            <input type="text" class="form-control">
          </div>
          <div class="col-auto">
            <label class="col-form-label">Denominazione</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control"">
          </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tipo di laurea</option>
                    <option value="1">Triennale</option>
                    <option value="2">Magistrale</option>
                    <option value="3">Magistrale a ciclo unico</option>
                </select>
            </div>
        </div>
        <div class="row mt-3 align-items-center">
          <div class="col-1">
            <label class="col-form-label">#1</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" list="datalist_nomi" placeholder="Denominazione insegnamento">
            <datalist id="datalist_nomi">
              <% lista_materie_ssd.forEach(e => { %> <option value="<%= e.nome %>"> <% }) %>
            </datalist>
          </div>
          <div class="col-2">
            <input type="text" class="form-control" placeholder="S.S.D.">
          </div>
          <div class="col-1">
            <input type="text" class="form-control" value="6">
          </div>
        </div>
        <div class="row mt-3 align-items-center">
            <div class="col-1">
                <button type="button" class="btn btn-secondary">+</button>
            </div>
        </div>
    </div>
</form>
<%- include('footer.ejs') %>