<%- include('../navbar.ejs') %>
<div class="container shadow-sm card mt-2 ">
    <div class="container text-center g-5 card-body ">
        <h2 class="mt-2">Iscrizione anno accademico</h2>
        <%if(rows.anno === null || (rows.anno !== null && rows.rate_pagate == 2)) {%>
        <form action="<%= path %>" method="POST">
            <div class="row justify-content-center mt-3">
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="reddito" name="reddito" required min="0">
                        <label for="reddito">Reddito</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-floating">
                        <%// if(rows.anno === null) { %>
                            <!-- <input type="number" class="form-control" id="anno" name="anno" required min="0"> -->
                            <input type="number" class="form-control" id="anno" name="anno" min="1" value="1" required >
                        <%// } else { %>
                            <!-- <input type="number" class="form-control" id="anno" name="anno" value="<%=rows.anno + 1%>" required readonly> -->
                        <%// } %>                        
                        <label for="anno">Anno</label>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-primary" onclick="paga_tasse()">Calcola tasse</button>
                </div>
            </div>

            <div id="pagamento" class="row justify-content-center mt-3" style="visibility: hidden;">
                <h2 class="mb-2">Dati di pagamento</h2>
                <div class="col-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="tasse" name="tasse" value="" required readonly >
                        <label for="reddito">Tasse dovute</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="carta" min="0" name="carta" required>                      
                        <label for="carta">Numero Carta</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="scadenza" name="scadenza" required>                      
                        <label for="scadenza">Scadenza</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="cvv" name="cvv" min="0" required>                      
                        <label for="cvv">CVV</label>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Paga</button>
                </div>
            </div>
        
        </form>
        <%} else {%>
            Risulti giá iscritto al corrente anno accademico.
        <%}%>
    </div>
</div>


<%- include('../footer.ejs') %>
<script>
    document.getElementById('scadenza').min = new Date().toLocaleDateString('en-ca')
    function paga_tasse() {
        var reddito = document.getElementById('reddito').value;
        if(reddito >= 0 && reddito <= 5000)
            document.getElementById('tasse').setAttribute("value", 0);
        
        if(reddito > 5000 && reddito <= 10000)
            document.getElementById('tasse').setAttribute("value", 500);

        if(reddito > 10000 && reddito <= 15000)
            document.getElementById('tasse').setAttribute("value", 1000);

        if(reddito > 15000 && reddito <= 20000)
            document.getElementById('tasse').setAttribute("value", 1500);
        
        if(reddito > 20000 && reddito <= 25000)
            document.getElementById('tasse').setAttribute("value", 2000);
        
        if(reddito > 25000)
            document.getElementById('tasse').setAttribute("value", 2500);
        
        document.getElementById('pagamento').style.visibility = 'visible';
    }
</script>