<%- include('../navbar.ejs') %>
<div class="container text-center">
    <%if (studente.anno !== null) {%>
        <% if (studente.rate_pagate == 1) {%>
            <h2 class="mt-3">Paga seconda rata</h2>
            <%if (studente.reddito >= 25000) {%> 
                <h2 class="mt-3">Totale da pagare: 1250€</h2>
            <% } else if (studente.reddito >= 20000) {%>
                <h2 class="mt-3">Totale da pagare: 1000€</h2>
            <% } else if (studente.reddito >= 15000) {%>
                <h2 class="mt-3">Totale da pagare: 750€</h2>
            <% } else if (studente.reddito >= 10000) {%>
                <h2 class="mt-3">Totale da pagare: 500€</h2>
            <% } else if (studente.reddito >= 5000) {%>
                <h2 class="mt-3">Totale da pagare: 250€</h2>
            <% } else {%>
                <h2 class="mt-3">Totale da pagare: 0€</h2>
            <%}%>
            <form action="<%= path %>" method="POST">
                <div class="row justify-content-center mt-3">
                    <div class="col-3">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="credit_number" min="0" placeholder="1234 1234 1234 1234" <%if (studente.reddito < 5000) {%>disabled<%}%> required>
                            <label for="credit_number">Credit card number</label>
                        </div>                  
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">     
                        <div class="form-floating">
                            <input type="date" class="form-control" id="scadenza" name="scadenza" <%if (studente.reddito < 5000) {%>disabled<%}%> required>                      
                            <label for="scadenza">Scadenza</label>
                        </div>      
                    </div>
                    <div class="col-2">   
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="csv" min="0" placeholder="csv" <%if (studente.reddito < 5000) {%>disabled<%}%> required>
                            <label for="csv">cvv</label>
                        </div>         
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Paga ora</button>
                    </div>
                </div>
            </form>
        <% } else if (studente.rate_pagate == 2) {%>
            <h2 class="mt-3">Hai gia' pagato la seconda rata</h2>
        <% } else { %>
            <h2 class="mt-3">Devi pagare la prima rata durante l'iscrizione ad un anno</h2>
        <% } %>
    <% } else { %>
        <h2 class="mt-3">Devi iscriverti ad un anno del tuo corso di studi prima</h2>
    <% } %>
</div>
<script>
    document.getElementById('scadenza').min = new Date().toLocaleDateString('en-ca')
</script>
<%- include('../footer.ejs') %>