<%- include('../navbar.ejs') %>
<div class="container text-center pt-3">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <button onclick="location.href='/studente/iscrizione_anno'" type="button" class="list-group-item list-group-item-action">Iscriviti ad un anno accademico</button>
            <button onclick="location.href='/studente/paga_seconda_tassa'" type="button" class="list-group-item list-group-item-action">Paga seconda tassa</button>
            <button onclick="location.href='/studente/iscrizione_esami'" type="button" class="list-group-item list-group-item-action">Iscrizione esami</button>
            <button onclick="location.href='/studente/certificato_carriera'" type="button" class="list-group-item list-group-item-action">Certificato carriera</button>
            <button onclick="location.href='/studente/iscrizione_ricevimento'" type="button" class="list-group-item list-group-item-action">Iscrizione ricevimento</button>
            <button onclick="location.href='/studente/accetta_esiti'" type="button" class="list-group-item list-group-item-action">Accettazione esiti</button>
        </div>
    </div>
</div>
<%- include('../footer.ejs') %>